pyrogram==2.0.97
tgcrypto
requests
yt-dlp
youtube-search
redis
pytz
hijri-converter
akinator
pySmartDL
py-cpuinfo
psutil
SpeechRecognition
pydub
gTTS
pillow
mutagen
wget
pytube
shazamio
telegraph
httpx[http2]>=0.18.1,<1.0.0
aiohttp
aiofiles
python-arq
kvsqlite
